<div class="d-flex justify-content-center">
  <div class="card bg-light mb-3" style="width: 20rem">
    <div class="card-body text-center">
      <label class="d-inline-block">工單編號：</label>
      <p class="d-inline-block card-text">1234</p>
    </div>
    <div class="card-body row">
      <div class="col-7 d-flex align-items-center">
        <label>訂單數量：</label>
        <p class="mb-0 ml-1">100</p>
      </div>
      <div class="col-5 d-flex align-items-center">
        <label>未交數量：</label>
        <p class="mb-0 ml-1">0</p>
      </div>
    </div>
    <div class="card-body row">
      <div class="col-7 d-flex align-items-center">
        <label>總數量：</label>
        <p class="mb-0 ml-1">100</p>
      </div>
      <div class="col-5 d-flex align-items-center">
        <label>剩餘數量：</label>
        <p class="mb-0 ml-1">0</p>
      </div>
    </div>
    <div class="card-body text-center">
      <label class="d-inline-block">水位：</label>
      <input
        type="number"
        class="d-inline-block card-text w-30"
        id="water_input"
      />
    </div>
    <div class="card-body" id="work_order_btn">
      <button type="button" class="btn btn-outline-secondary">送出</button>
    </div>
  </div>
</div>
