<div class="d-flex justify-content-center">
  <div class="card bg-light mb-3" style="max-width: 20rem">
    <div class="card-body">
      <label class="d-inline-block">工單編號：</label>
      <p class="d-inline-block card-text">1234</p>
    </div>
    <div class="card-body">
      <label class="d-inline-block">訂單數量：</label>
      <p class="d-inline-block card-text">100</p>
    </div>
    <div class="card-body">
      <label class="d-inline-block">未交數量：</label>
      <p class="d-inline-block card-text">0</p>
    </div>
    <div class="card-body">
      <label class="d-inline-block">總數量：</label>
      <p class="d-inline-block card-text">100</p>
    </div>
    <div class="card-body">
      <label class="d-inline-block">剩餘數量：</label>
      <p class="d-inline-block card-text">100</p>
    </div>
    <div class="card-body">
      <label class="d-inline-block">水位：</label>
      <input
        type="number"
        class="d-inline-block card-text w-30"
        id="water_input"
      />
    </div>
    <div class="card-body" id="work_order_btn">
      <button type="button" class="btn btn-dark">送出</button>
    </div>
  </div>
</div>
