<div id="card-container"></div>

<script src="../static/js/axios.min.js"></script>
<script>
  api_url = "http://127.0.0.1:80/api";
  axios
    .get(`${api_url}/get_work_order_data`)
    .then((res) => {
      console.log(res.data);
      const numberOfWorkOrder = res.data.result.work_order_number;
      const workOrderQuantity = res.data.result.work_order_quantity;
      const undeliveredQuantity = res.data.result.undelivered_quantity;

      // 迴圈 numberOfWorkOrder 陣列並為每個工單建立卡片
      numberOfWorkOrder.forEach((workOrderNumber, index) => {
        // 建立卡片元素
        const card = document.createElement("div");
        card.className = "card bg-light mb-3";
        card.style = "width: 25rem";

        // 填充卡片内容
        let cardHTML = `
          <div class="card bg-light mb-3" style="width: 25rem;">
            <div class="card-body text-center">
              <label class="d-inline-block">工單編號：</label>
              <p class="d-inline-block card-text">${workOrderNumber}</p>
            </div>
            <div class="card-body row">
              <div class="col-7 d-flex align-items-center">
                <label>訂單數量：</label>
                <p class="mb-0 ml-1">${workOrderQuantity[index]}</p>
              </div>
              <div class="col-5 d-flex align-items-center">
                <label>未交數量：</label>
                <p class="mb-0 ml-1">${undeliveredQuantity[index]}</p>
              </div>
            </div>
            <div class="card-body row">
              <div class="col-7 d-flex align-items-center">
                <label>總數量：</label>
                <p class="mb-0 ml-1"></p>
              </div>
              <div class="col-5 d-flex align-items-center">
                <label>剩餘數量：</label>
                <p class="mb-0 ml-1"></p>
              </div>
            </div>
            <div class="card-body text-center">
              <label class="d-inline-block">水位：</label>
              <input type="number" class="d-inline-block card-text w-30" id="water_input${index}" />
            </div>
            <div class="card-body" id="work_order_btn${index}">
              <button type="button" class="btn btn-outline-secondary">送出</button>
            </div>
          </div>`;

        document
          .getElementById("card-container")
          .insertAdjacentHTML("beforeend", cardHTML);
      });
    })
    .catch((err) => {
      console.log(err);
    });
</script>
