<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
    <link href="../static/css/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="bg-white dark:bg-gray-800 h-screen">
    {% include 'nav.html' %}
    <div class="alert"></div>
    <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8">
      <p class="text-2xl text-gray-900 dark:text-white mb-10 mt-10">派工單</p>
    </div>
    <div id="card-container" class="flex flex-wrap justify-center -mx-4"></div>
  </body>
  <script src="../static/js/axios.min.js"></script>
  <script>
    // 設定 API 網址
    api_url = "http://127.0.0.1:80/api";

    // 使用 axios 發送 GET 請求
    axios
      .get(`${api_url}/get_dispatch_work_order_data`)
      .then((res) => {
        console.log(res.data);
        const result = res.data.result;

        // 迴圈 result 陣列並為每個工單建立卡片
        result.forEach((resultList, index) => {
          // 填充卡片内容
          let cardHTML = `
            <div class="card w-full max-w-sm h-full flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-4 my-4">
              <div class="flex items-center justify-center">
                <p class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">工單編號：</p>
                <p class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">${resultList["work_order_number"]}</p>
              </div>
              <div class="flex justify-center">
                <div class="flex items-center mt-4 mb-4 mr-8">
                  <label class="text-gray-700 dark:text-gray-300">訂單數量：</label>
                  <p class="text-gray-700 dark:text-gray-300">${resultList["work_order_quantity"]}</p>
                </div>
                <div class="flex items-center mt-4 mb-4">
                  <label class="text-gray-700 dark:text-gray-300">未交數量：</label>
                  <p class="text-gray-700 dark:text-gray-300">${resultList["undelivered_quantity"]}</p>
                </div>
              </div>
              <div class="flex justify-center mb-5">
                <div class="flex items-center mt-4 mb-4 mr-8">
                  <label class="text-gray-700 dark:text-gray-300">總數量：</label>
                  <p class="text-gray-700 dark:text-gray-300">${resultList["total_quantity"]}</p>
                </div>
                <div class="flex items-center mt-4 mb-4">
                  <label class="text-gray-700 dark:text-gray-300" style="margin-left:19px">剩餘數量：</label>
                  <p class="text-gray-700 dark:text-gray-300" id="remaining_quantity_value_${index}">${resultList["remaining_quantity"]}</p>
                </div>
              </div>
              <form class="max-w-sm mx-auto" id="water_level_form_${index}">
                <div class="flex items-center mb-8">
                  <input type="number" id="water_level_input_${index}" aria-describedby="helper-text-explanation"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center"
                      placeholder="請輸入水位"  required>
                </div>
                <div class="flex items-center justify-center">
                  <button type="submit" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">送出</button>
                </div>
              </form>
            </div>`;
          // 將卡片添加到 "card-container" 元素的末尾
          document.getElementById("card-container").insertAdjacentHTML("beforeend", cardHTML);
        });
      })
      .catch((err) => {
        console.log(err);
      });

    // const waterLevel = localStorage.getItem('waterLevel');
    // 從 localStorage 中獲取水位物件
    const waterLevels = JSON.parse(localStorage.getItem('waterLevels')) || {};
    // console.log(waterLevels);

    // 在頁面載入時，將 localStorage 中的水位值顯示在輸入欄位中
    window.addEventListener('load', function () {
      console.log(waterLevels);
    });

    // 為 id 為 'card-container' 的元素添加 'submit' 事件監聽器
    document.getElementById('card-container').addEventListener('submit', function (e) {
      // 從事件目標中獲取索引
      // Array.from 將 children 轉換為陣列，然後使用 indexOf 方法找到目標卡片在陣列中的索引
      const index = Array.from(e.currentTarget.children).indexOf(e.target.closest('.card'));

      // 檢查索引是否不為 -1（也就是說，我們是否找到了卡片）
      // 並檢查事件目標的 id 是否等於 `water_level_form_${index}`
      if (index !== -1 && e.target && e.target.id === `water_level_form_${index}`) {
        // 防止表單的默認提交行為
        e.preventDefault();

        // 獲取水位輸入欄位
        const waterLevelInput = document.getElementById(`water_level_input_${index}`);
        // 將水位輸入轉換為浮點數，如果輸入欄位不存在，則水位為 0
        const waterLevel = waterLevelInput ? parseFloat(waterLevelInput.value) : 0;

        // 將水位存儲在 waterLevels 物件中
        waterLevels[index] = waterLevel;
        // 將 waterLevels 物件轉換為 JSON 字串, 並存儲在 localStorage 中
        localStorage.setItem('waterLevels', JSON.stringify(waterLevels));

        let remainingQuantityValue = 0;

        // 尋找剩餘數量元素，並讀取其值
        const remainingQuantityElement = document.getElementById(`remaining_quantity_value_${index}`);
        if (remainingQuantityElement) {
          remainingQuantityValue = parseFloat(remainingQuantityElement.innerHTML);
        }

        const cardElement = e.target.closest('.card');
        // 檢查水位是否超過剩餘數量
        if (remainingQuantityValue < waterLevel) {
          // 將 card 背景顏色改為紅色
          cardElement.style.backgroundColor = "rgb(169, 68, 56)";
          const message = `
          <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">設定成功 !</span>
            </div>
          </div>`;
          const alert = document.querySelector('.alert');
          alert.innerHTML = message;
          setTimeout(function () {
            alert.innerHTML = '';
          }, 5000);
        } else {
          // 將 card 背景顏色改為綠色
          cardElement.style.backgroundColor = "rgb(80, 141, 105)";
          const message = `
          <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">設定成功 !</span>
            </div>
          </div>`;
          const alert = document.querySelector('.alert');
          alert.innerHTML = message;
          setTimeout(function () {
            alert.innerHTML = '';
          }, 5000);
        }
      }
    });
  </script>
  <script src="../static/js/flowbite.min.js"></script>
  <!-- dark mode -->
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>

</html>
