<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
    <link href="../static/css/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="bg-white dark:bg-gray-800 h-screen">
    {% include 'nav.html' %}
    <div class="container mx-auto px-4">
      <p class="text-2xl text-gray-900 dark:text-white mb-10 mt-10">在途製品狀態</p>
    </div>
  </body>
  <script src="../static/js/flowbite.min.js"></script>

  <!-- dark mode -->
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } 
    else {
        document.documentElement.classList.remove('dark')
    }
</script>

</html>
