<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
    <link href="../static/css/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="text-white">
    {% include 'nav.html' %}
    <div class="container mx-auto px-4">
      <h2 id="home_title" class="text-2xl font-bold mt-4">在途製品狀態</h2>
    </div>
  </body>
  <script src="../static/js/flowbite.min.js"></script>

</html>
