<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="60"> -->
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="container">
                <h1>在途製品狀態</h1>
                <table border="1" style="width: 500px;">
                                <td>Text</td>
                                <td>Text</td>
                                <td>Text</td>
                        </tr>
                        <tr>
                                <td>Text</td>
                                <td>Text</td>
                                <td>Text</td>
                        </tr>
                </table>
        </div>
</body>
</html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">