<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="index_title">TBI</h1>
      <p id="index_detail">線軌模組精實製造排程系統</p>
      <button id="index_btn" type="button" class="btn btn-outline-primary">
        進入
      </button>
    </div>
  </body>
  <script>
    document.getElementById("index_btn").addEventListener("click", function () {
      window.location.href = "/home";
    });
  </script>

</html>
