<!Doctype html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
  </head>

  <body class="flex items-center justify-center h-screen bg-gray-200">
    <div class="flex flex-col items-center">
      <h1 class="text-5xl font-bold mb-10 text-blue-600">TBI</h1>
      <p id="index_detail" class="mb-10 text-gray-700 text-xl">
        線軌模組精實製造排程系統
      </p>
      <button id="index_btn" type="button"
        class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition-colors mt-4">
        進入
      </button>
    </div>
  </body>
  <script>
    document.getElementById("index_btn").addEventListener("click", function () {
      window.location.href = "/home";
    });
  </script>

</html>
