<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TBI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/work_order">空單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dispatch_work_order">派工單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="not_dispatch_work_order">未派工單</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="../static/js/bootstrap.bundle.min.js"></script>