<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link href="../static/css/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h2 id="not_dispatch_work_order_title">未派工單</h2>
    </div>
    <div id="card-container"></div>
  </body>
  <script src="../static/js/axios.min.js"></script>
  <script>
    // 設定 API 網址
    api_url = "http://127.0.0.1:80/api";

    // 使用 axios 發送 GET 請求
    axios
      .get(`${api_url}/get_no_dispatch_work_order_data`)
      .then((res) => {
        console.log(res.data);
        const result = res.data.result;

        // 迴圈 result 陣列並為每個工單建立卡片
        result.forEach((resultList, index) => {
          // 填充卡片内容
          let cardHTML = `
          <div class="card text-white bg-light mb-3" style="width: 25rem;">
            <div class="card-body text-center">
              <label class="d-inline-block">工單編號：</label>
              <p class="d-inline-block card-text">${resultList["work_order_number"]}</p>
            </div>
            <div class="card-body row">
              <div class="col-7 d-flex align-items-center">
                <label>訂單數量：</label>
                <p class="mb-0 ml-1">${resultList["work_order_quantity"]}</p>
              </div>
              <div class="col-5 d-flex align-items-center">
                <label>未交數量：</label>
                <p class="mb-0 ml-1">${resultList["undelivered_quantity"]}</p>
              </div>
            </div>
          </div>`;

          // 將卡片添加到 "card-container" 元素的末尾
          document.getElementById("card-container").insertAdjacentHTML("beforeend", cardHTML);
        });
      })
      .catch((err) => {
        console.log(err);
      });
  </script>
  <script src="../static/js/flowbite.min.js"></script>

</html>
