<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
    <link href="../static/css/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="bg-white dark:bg-gray-800 h-screen">
    {% include 'nav.html' %}
    <div id="error-alert"></div>
    <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8">
      <p class="text-2xl text-gray-900 dark:text-white mb-10 mt-10">未派工單</p>
    </div>
    <div id="card-container" class="flex flex-wrap justify-center -mx-4"></div>
    <nav aria-label="Page navigation" class="mx-auto text-center mt-10">
      <ul id="pagination" class="flex items-center -space-x-px h-10 text-base justify-center">
      </ul>
    </nav>
  </body>
  <script src="../static/js/axios.min.js"></script>
  <script>
    // 設定 API 網址
    api_url = "http://127.0.0.1:80/api";

    function loadPage(pagenumber) {
      // 清空現有的卡片內容
      document.getElementById("card-container").innerHTML = '';

      // 使用 axios 發送帶有頁碼和限制數的 GET 請求
      axios.get(`${api_url}/get_no_dispatch_work_order_data?page=${pagenumber}&limit=30`)
        .then((res) => {
          console.log(res.data);
          const result = res.data.result;
          const totalPages = res.data.total_pages;

          // 循環 result 陣列並為每個工單創建卡片
          result.forEach((resultList, index) => {
            // 填充卡片內容
            let cardHTML = `
              <div class="card w-full max-w-sm h-full flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-4 my-4">
                <div class="flex items-center justify-center">
                  <p class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">工單編號：</p>
                  <p class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">${resultList["work_order_number"]}</p>
                </div>
                <div class="flex justify-center">
                  <div class="flex items-center mt-4 mr-8">
                    <label class="text-gray-700 dark:text-gray-300">訂單數量：</label>
                    <p class="text-gray-700 dark:text-gray-300">${resultList["work_order_quantity"]}</p>
                  </div>
                  <div class="flex items-center mt-4">
                    <label class="text-gray-700 dark:text-gray-300">未交數量：</label>
                    <p class="text-gray-700 dark:text-gray-300">${resultList["undelivered_quantity"]}</p>
                  </div>
                </div>
              </div>`;
            // 將卡片添加到 "card-container" 元素的末尾
            document.getElementById("card-container").insertAdjacentHTML("beforeend", cardHTML);
            updatePagination(totalPages, pagenumber);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    }

    function updatePagination(totalPages, currentPage) {
      // 初始化分頁 HTML 字串，包含「上一頁」按鈕
      let paginationHTML = `
        <li>
          <a href="#" onclick="loadPage(Math.max(1, currentPage - 1)); event.preventDefault();" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <!-- 上一頁的圖標 -->
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
          </a>
        </li>`;

      // 設定最多顯示的頁數
      const maxPagesToShow = 5;
      // 計算顯示範圍的起始和結束頁數
      let rangeStart = currentPage - Math.floor(maxPagesToShow / 2);
      rangeStart = rangeStart < 1 ? 1 : rangeStart;
      let rangeEnd = rangeStart + maxPagesToShow - 1;
      rangeEnd = rangeEnd > totalPages ? totalPages : rangeEnd;

      // 如果起始頁數大於1，則添加「第一頁」按鈕和省略號
      if (rangeStart > 1) {
        paginationHTML += `
          <li>
            <a href="#" onclick="loadPage(1); event.preventDefault();" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
          </li>`;
        if (rangeStart > 2) {
          paginationHTML += '<li class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">...</li>';
        }
      }

      // 為每個在範圍內的頁數添加按鈕
      for (let i = rangeStart; i <= rangeEnd; i++) {
        paginationHTML += `<li>
          <a href="#" onclick="loadPage(${i}); event.preventDefault();" class="flex items-center justify-center px-3 h-8 leading-tight ${i === currentPage ? 'text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'}">${i}</a>
        </li>`;
      }

      // 如果結束頁數小於總頁數，則添加省略號和「最後一頁」按鈕
      if (rangeEnd < totalPages) {
        if (rangeEnd < totalPages - 1) {
          paginationHTML += '<li class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">...</li>';
        }
        paginationHTML += `
          <li>
            <a href="#" onclick="loadPage(${totalPages}); event.preventDefault();" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">${totalPages}</a>
          </li>`;
      }

      // 添加「下一頁」按鈕
      paginationHTML += `
        <li>
          <a href="#" onclick="loadPage(Math.min(totalPages, currentPage + 1)); event.preventDefault();" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <!-- 下一頁的圖標 -->
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
          </a>
        </li>`;

      // 更新分頁控制元素的內容
      document.getElementById('pagination').innerHTML = paginationHTML;
    }

    // 加載第一頁的工單資料
    loadPage(1);
  </script>
  <script src="../static/js/flowbite.min.js"></script>
  <!-- dark mode -->
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>

</html>