<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBI-SMU</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h2 id="work_order_title">全部工單</h2>
    </div>
    <div id="card-container"></div>
  </body>
  <script src="../static/js/axios.min.js"></script>
  <script>
    api_url = "http://127.0.0.1:80/api";
    axios
      .get(`${api_url}/get_all_work_order_data`)
      .then((res) => {
        console.log(res.data);
        const numberOfWorkOrder = res.data.result.work_order_number.map(
          (item) => item.work_order_number
        );
        const workOrderQuantity = res.data.result.work_order_quantity;
        const undeliveredQuantity = res.data.result.undelivered_quantity;

        // 迴圈 numberOfWorkOrder 陣列並為每個工單建立卡片
        numberOfWorkOrder.forEach((workOrderNumber, index) => {
          // 填充卡片内容
          let cardHTML = `
          <div class="card bg-light" style="width: 25rem;">
            <div class="card-body text-center">
              <label class="d-inline-block">工單編號：</label>
              <p class="d-inline-block card-text">${workOrderNumber}</p>
            </div>
            <div class="card-body row">
              <div class="col-7 d-flex align-items-center">
                <label>訂單數量：</label>
                <p class="mb-0 ml-1">${workOrderQuantity[index]}</p>
              </div>
              <div class="col-5 d-flex align-items-center">
                <label>未交數量：</label>
                <p class="mb-0 ml-1">${undeliveredQuantity[index]}</p>
              </div>
            </div>
            <div class="card-body row">
              <div class="col-7 d-flex align-items-center">
                <label>總數量：</label>
                <p class="mb-0 ml-1"></p>
              </div>
              <div class="col-5 d-flex align-items-center">
                <label>剩餘數量：</label>
                <p class="mb-0 ml-1"></p>
              </div>
            </div>
            <div class="card-body text-center">
              <label class="d-inline-block">水位：</label>
              <input type="number" class="d-inline-block card-text w-30" />
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-outline-secondary">送出</button>
            </div>
          </div>`;

          document
            .getElementById("card-container")
            .insertAdjacentHTML("beforeend", cardHTML);
        });
      })
      .catch((err) => {
        console.log(err);
      });
  </script>
</html>
